* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-image: url(../img/background.jpg);    
    background-size: 100%;
    color: #2f2b2b;
    width: 100vw;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: 99vh;
        margin: auto;    
        overflow-y: scroll;
    }
}



@media screen and (min-width: 392px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


